 
    
    
   
      <div  class="ae-grid au-xs-ta-center au-mb-4 animated fadeIn">
      
        <div *ngFor="let miembro of _is.equipo" class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
          <img [src]="miembro.imagen" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{miembro.nombre}}</h5>
        <p class="ae-u-bolder au-mb-3">{{ miembro.puesto}}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{miembro.biografia}}</p>
        <p><a href="mailTo:{{miembro.email}}" class="ae-u-bolder au-underline">{{miembro.email}}</a></p>
        <a href="{{miembro.url}}" class="ae-u-bolder au-underline">Sitio Web</a>
      </div>

    </div>
